snippet plug "Plug installation"
Plug '$1'${2:, \{\}} $3
endsnippet

snippet {} "plug optional argument"
\{'${1:on}': '$2'\} $3
endsnippet

snippet " "marker comment"
" $1 \{\{\{
$2
" \}\}\} $3
endsnippet
